// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-in-index {
  height: 50px;
}
.pointable {
  cursor: pointer
}
#board {
  background-color: #FFF;
  transition: background 0.2s linear;
}
#board:hover {
  background-color: #337AB7;
  transition: background 0.2s linear;
}
